<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'>
    <link rel="stylesheet" href="/stylesheets/favourite.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
  </head>
  <body>
      {{> navbar}}
      <h1 id="title">Twoje ulubione filmy</h1>
      <div id="favs">

      </div>
      <script src="/javascripts/bootstrap.min.js"></script>
      <script src="/javascripts/favourite-script.js"></script>
  <body>
</html>