<html>
  <head>
    <meta charset="UTF-8">
    <title>Zaloguj się</title>
    <link rel='stylesheet', href='/stylesheets/login.css'>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <div class="box">
        <form method="POST" action="login">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nazwa użytkownika</label>
              <input type="text" class="form-control" id="exampleInputEmail1" name="username">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Hasło</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Zaloguj</button>
          </form>
          <div id="no-acc">Nie masz jeszcze konta? <a id="register" href="/register">Zarejestruj się</a></div>
    </div>
  <body>
</html>