<html>
  <head>
    <meta charset="UTF-8">
    <title>Utwórz konto</title>
    <link rel='stylesheet', href='/stylesheets/login.css'>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <div class="box" id="register-box">
        <form method="POST" action="register">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nazwa użytkownika</label>
              <input type="text" class="form-control" id="exampleInputEmail1" name="username">
              <div id="username-err" class="msg-info">{{usernameErr}}</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Hasło</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password1">
              <div id="password-err" class="msg-info">{{passwordErr}}</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Powtórz hasło</label>
                <input type="password" class="form-control" id="exampleInputPassword2" name="password2">
                <div id="error-msg" class="msg-info">{{errorMsg}}</div>
            </div>
            <button type="submit" class="btn btn-primary">Utwórz konto</button>
          </form>
    </div>
  <body>
</html>