body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(63, 63, 63);
}

#search {
  margin: 50px; 
  height: auto; 
}

#results {
  margin-top: 20px;
  height:auto;
  overflow:visible;
  text-align:center;
}

.movie {
  float: left;
  width: 200px;
  height: 320px;
  text-align: center;
  margin: 30px 20px;
  position: relative;
  bottom: 0px;
  transition: bottom 0.15s, opacity 0.8s;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.blank-movie {
  opacity: 0%;
}

.movie-year {
  font-size: 10px;
  display: block;
}

.movie-title {
  max-height: 30px;
}

.results-counter {
  font-size: 15px;
  font-weight: bold;
}

.movie:hover {
  bottom: 20px;
  cursor: pointer;
}

.poster {
  height: 296px;
  width: 200px;
  border-radius: 5px;
  margin-top: 20px;
  transition: box-shadow 0.15s;
}

.poster:hover {
  box-shadow: 0 0 20px #4167CE;
}

.rate-circle {
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  background-color: #4167CE;
  box-shadow: 0 0 20px #4167CE;
  border-radius: 50px;
  text-align: center;
  color: white;
  font-weight: bold;
  line-height: 40px;
}

.heart {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 30px;
  display: none;
  transition: width 0.15s, height 0.15s;
}

.heart:hover {
  width: 33px;
  height: 33px;
}

#welcome {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  color: #4167CE;
}
